<?xml version="1.0"?>

<model>
  <name>aerostat</name>
  <version>1.0</version>
  <sdf version="1.6">aerostat.sdf</sdf>

  <author>
    <name>Alexander Novikov</name>
    <email>chlensouza350@gmail.com</email>
  </author>

  <author>
    <name>Egor Efremenko</name>
    <email>chlensouza350@gmail.com</email>
  </author>
  
  <author>
    <name>Alexander Kalinich</name>
    <email>chlensouza350@gmail.com</email>
  </author>

  <description>
  Простенький аэростат, представляющий собой парящий эллипсоид с четырьмя моторами: двое расположены сзади и отвечают за движение в горизонтальной плоскости, а ещё двое сверху и снизу эллипсода для движений в вертикальной плоскости. В моделе коллизия заменена на сферическую сопоставимого объёма для стабильной работы с плагином buoyancy.
  </description>
</model>
